@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    /* border: .1rem solid white; */
}

:root {
    --green-clr: #DFFE02;
    --gray-clr: #898989;
    --dark-blue-clr: #171C22;
}

.navbar-logo {
    width: 8.5rem;
}

.bg-green {
    background: var(--green-clr);
}

.bg-dark-blue {
    background: var(--dark-blue-clr);
}

.text-green {
    color: var(--green-clr);
}

.text-gray {
    color: var(--gray-clr);
}

img {
    max-width: 100%;
    height: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.mybtn {
    border: 0.1rem solid var(--green-clr) !important;
    padding: 0.5rem 1.6rem;
}

.mybtn:hover {
    background: transparent;
    color: var(--green-clr) !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    width: 2.2rem;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: var(--green-clr);
}

.image-container {
    width: 32rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border-top: 1rem solid white;
    border-bottom: 1rem solid white;
    background-image: url('image.png');
    background-position: center;
    background-size: 110%;
    box-shadow:
        0 0 1rem white,
        inset 0 0 .1rem white,
        0 0 2rem var(--green-clr),
        inset 0 0 1rem var(--green-clr),
        0 0 1rem var(--green-clr),
        inset 0 0 5rem var(--green-clr);
}

.hero-section {
    min-height: 90vh;
}

h1 {
    font-size: 4rem;
}

p {
    font-size: 0.95rem;
}

.pera {
    max-width: 500px;
}

.main-txt {
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
}

.about-me {
    width: 35rem;
}

.section-container {
    padding-block: 5rem;
}

.glow {
    position: relative;
}

.glow::before {
    content: "";
    background: var(--green-clr);
    position: absolute;
    inset: 4rem; 
    border-radius: 50%;
    z-index: -1;
    filter: blur(70px);
}
.hover-card :hover{
    background: var(--green-clr);
}
.hover-card :hover *{
    color: black !important;
}
.mycard{
    width: 21rem;

}
.mycard :hover{
    transform: scale(1.1);
    transition:transform .5s ease-in-out ;
}
form{
    width: 33rem;

}
.form-control{
     border: .1rem solid var(--gray-clr);
}
.form-control :focus{
    box-shadow: none;
    border: .1rem solid var(--gray-clr);
}
.line{
    background: rgba(255, 255, 255, 0.74);
    height: .1rem;
    width: 100%;
}

/* Responsive Adjustments */
@media screen and (max-width: 992px) {
    h1 {
        font-size: 3.5rem;
    }
    .image-container {
        width: 25rem;
    }
    .section-container {
        padding-block: 3rem;
    }
}

@media screen and (max-width: 680px) {
    h1 {
        font-size: 2.8rem;
    }
    .image-container {
        width: 20rem;
    }
    .hero-section {
        min-height: 75vh;
    }
    .mybtn {
        padding: 0.4rem 1.2rem;
    }
    .about-me{
        width: 23rem;
    }
    form{
        width: 22rem;
    }
}

